services:
  api-dev:
    container_name: div-flo-api-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3002:3001" # Map host 3002 to container 3001 for dev
    env_file:
      - .env.dev
    volumes:
      - ./:/monorepo
      - /monorepo/packages/div-flo-api/node_modules
      - divergent_flow_logs_dev:/var/log/divergent-flow
    working_dir: /monorepo/packages/div-flo-api
    command: ["nodemon", "src/server.ts"]

# Volumes for persistent data
volumes:
  divergent_flow_logs_dev:
    driver: local